<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
    	<title>Dr.Pepper - Superhero yourself</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    	<meta name="description" content=""/>
    	<meta name="keywords" content=""/>
		<link type="text/css" rel="stylesheet" media="all" href="/media/styles/main.css"/>
        <style type="text/css">
        body, h1, p {
            color: #000;
        }
        a {
            color: blue;
        }
        a:hover {
            text-decoration: underline;
        }
        </style>
	</head>
	<body>
		<script type="text/javascript">//<!--
    		document.write('<div class="javascript">');
      	//--></script>
    	<div class="content">
            <h1>Bedankt voor uw aanmelding</h1>
            <p>
                Bedankt voor uw aanmelding voor de Dr.Pepper nieuwsbrief. Klik
                op onderstaande link om terug te gaan naar de Superhero yourself
                actie site.<br/>
                <a href="http://www.hyves.nl/hyvertising/1222/">http://www.hyves.nl/hyvertising/1222/</a>
            </p>
    	</div>

  		<script type="text/javascript">//<!--
    		document.write('</div>')
      	//--></script>
	</body>
</html>